<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
        <% if @book.errors.any? %>
          <div id="error_explanation">
            <h2>
            <%= @book.errors.count %> error prohibited this book from being saved:
            </h2>
            <ul>
              <% @book.errors.full_messages.each do |error| %>
              <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_with model:@book, local:true do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :body, "Opinion"  %>
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit 'Update Book', class: "btn btn-success update_book" %>
          </div>
        <% end %>
        <div>
          <%= link_to "Show", book_path(@book.id), class: "book_id" %> | <%= link_to "Back", books_path, class: "back" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</main>